<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		.fundoP {
			color: white;
			background-color: #039BE5;
		}
        .margim {
            margin-top: 2%;
        }
        .padding {
            padding-top: 1%;
        }
        .lista {
            background-color: white;
            color: black;
        }
	</style>
	<title>Exercícios de Vue.JS</title>
</head>
<body class="fundoP">
	<div id="app2" style="margin-top: 10%;">
        <h2 align="center">Lista de sugestão de coisas para fazer nas férias</h2>
        <div class="col-md-12 margim" align="center">
            <span>
                A regra é simples, deixe aqui sua sugestão do que fazer nas férias e caso você já tenha feito algo desta lista, clique em "Já fiz".
            </span>
        </div>
        <div class="col-md-12 margim" align="center">
            <input placeholder="Coisas para fazer:" v-model="itensFazer" style="color: black;">
            <button type="button" class="btn btn-warning" @click="adicionarLista">Adicionar</button>
        </div>
        <div class="col-md-6 col-md-offset-3 margim lista padding" align="center">
            <ul>
                <li v-for="item in lista">
                    {{item.fazer}} <button type="button" class="btn btn-default btn-xs">Já fiz</button> <hr>
                </li>
            </ul>
        </div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
<script type="text/javascript">

	new Vue({
			el: '#app2',
			data: {
                lista: [
                    {fazer: 'Terminar de ler o livro'},
                    {fazer: 'VPN doméstica'}
                ],
                itensFazer: ''
			},
			methods: {
                adicionarLista: function(event) {
                    this.lista.push({fazer: this.itensFazer});
                    this.itensFazer = '';
                }
			}
	});
</script>
</html>